@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

select > option {
  height: 20px;
}

.highcharts-credits {
  display: none !important;
}
.button {
  border: 2px solid black;
  border-radius: 5px;
  margin: 2px;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}

#popup {
  position: absolute;
  z-index: 1;
  bottom: 0% !important;
  border-radius: 5px;
  background-color: black;
  color: white;
  width: max-content;
  text-align: center;
  padding-bottom: 5px !important;
  display: none !important;
}
#popup div {
  font-size: xx-large;
  padding: 0 10px;
}

#menu {
  position: absolute;
  z-index: 1;
  right: 0% !important;
  bottom: 2% !important;
  border-radius: 5px;
  background-color: black;
  color: white;
  width: max-content;
  text-align: center;
  padding-bottom: 5px !important;
  display: none !important;
}
#menu div {
  font-size: xx-large;
  padding: 0 10px;
}

#BankNifty,
#Nifty {
  width: auto;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media (max-width: 1200px) {
  .button {
    font-size: 14px !important;
  }
}
@media (min-width: 992px) {
  #Table_2_Column {
    display: block;
  }
  #Table_1_Column {
    display: block;
  }
  #popup {
    display: none !important;
  }
  #menu {
    display: none !important;
  }
}
@media (max-width: 992px) {
  #Table_2_Column {
    display: none;
    height: fit-content !important;
    padding-left: 5px !important;
  }
  #Table_2_Column .contaniner {
    height: fit-content !important;
  }
  #Righttable,
  #Nettable {
    padding-bottom: 15px !important;
  }
  #Table_1_Column {
    display: block;
  }
  #popup {
    display: block !important;
  }
  #menu {
    display: block !important;
  }
  .button {
    font-size: 16px !important;
  }
}
@media (max-width: 500px) {
  .button {
    margin-left: 2px !important;
    margin-right: 2px !important;
    width: fit-content !important;
    font-size: 12px !important;
  }
  .button:nth-child(2) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .button:nth-child(3) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .button:nth-child(1) {
    width: auto !important;
  }
  .button:nth-child(1) .row {
    width: auto !important;
  }
}
.canvasjs-chart-credit {
  display: none !important;
}

@media (max-width: 550px) {
  th,
  td {
    padding-left: 0 !important;
    padding-right: 16px !important;
  }
  th {
    font-size: 12px !important;
  }
}

#ChartDatatable_1 th,
#ChartDatatable_1 td,
#logDatatable_1 th,
#logDatatable_1 td {
  width: auto !important;
}

.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}

.dataTables_filter {
  float: left !important;
}

#Nettable_all_position tr:nth-child(even) {
  background-color: rgb(231, 231, 231);
}

.vertical-header {
  transform: rotate(270deg); /* Rotate the text by 90 degrees */
  white-space: nowrap; /* Prevent the text from wrapping */
  vertical-align: middle; /* Align the text vertically in the cell */
}

#Hist_DayEnd_table {
  border-collapse: collapse;
}

#Hist_DayEnd_table th,
#Hist_DayEnd_table td,
#Hist_Daily_table th,
#Hist_Daily_table td{
  border: 1px solid black; /* Add a 1px solid border to table cells */
  font-size: 13px;
}

#Hist_DayEnd_table thead tr,
#Hist_Daily_table thead tr {
  height: 100px;
  background-color: #fcd5b4;
}

#Hist_DayEnd_table tbody tr td:first-child {
  background-color: #fcd5b4;
  font-weight: bold;
}

th.timestamp {
  writing-mode: vertical-rl; 
  text-orientation: mixed;
  transform: rotate(180deg);
  border: 1px solid black;
  padding-top: 10px;
}

/* -----
Style 1 
----- */

/* .table-container {
  display: flex;
  overflow-x: auto;
  height: 100vh;
}

.table1, .table2 {
  flex-shrink: 0; 
  white-space: nowrap;
} */

/* -----
Style 2 
----- */

/* .table-container {
  overflow-x: auto; 
  white-space: nowrap; 
  position: relative; 
  height: 100vh;
}

.table-container table {
  display: inline-block; 
  vertical-align: top; 
  margin-right: 10px; 
} */

/* -----
Style 3 
----- */

/* .table-container {
  display: flex;
  overflow-x: auto; 
}

.table-fixed {
  flex-shrink: 0; 
  width: 500px; 
  overflow: auto; 
}

.table-scroll {
  flex-grow: 1; 
  overflow-x: auto; 
} */

/* -----
Style 4 
----- */

.table-container {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
}

.table-fixed {
  flex-shrink: 0; /* Prevent the fixed table from shrinking */
  width: 475px; /* Set the width of the fixed table */
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: white;
}

.table-scroll {
  flex-grow: 1; /* Allow the scrollable table to grow */
  overflow-x: auto; /* Enable horizontal scrolling */
}

.scroll-container {
  width: 100%; /* Set the width of the scrollable container */
  overflow-x: auto; /* Enable horizontal scrolling */
}
